/* RESET CSS */
* {
margin: 0;
padding: 0;
}

/* BODY CSS */
body {
font-family: Fredoka;
font-size: 15px;
line-height: 2;
padding: 0;
margin: 0;
background-color: beige;
}


/* GLOBAL CSS FOR INDEX */
.container {
width: 100%;
display: flex;
justify-content: space-between;
margin: auto;
overflow: hidden;
height: 100%;
}

ul {
margin: 0;
padding: 0;
}

/* HEADER CSS */
header {
background: rgb(34, 34, 34);
border-bottom: rgb(255, 255, 255) 1px solid;
padding-right: 2rem;
padding-left: 2rem;
height: 90px;
}

/* #header section CSS */
header #headersection {
float: left;
display: flex;
justify-content: center;
}

header li {
float: left;
display: inline;
padding: 0 20px 0 20px;
}

header #headersection span {
    display: flex;
    align-items: center;
}

header #headersection a {
color: floralwhite;
font-size: 40px;
letter-spacing: 10px;
margin-left: 8px;
}

/* NAV CSS */
header nav {
    display: flex;
    align-items: center;
}

header a {
color: black;
text-decoration: none;
text-transform: uppercase;
font-size: 18px;
}

header nav button {
width: 150px;
text-align: center;
}

header nav a:hover {
color: rgb(221, 32, 32);
font-weight: bold;
transition: all .5s ease-in;
}

header nav a:focus {
color: rgb(221, 32, 32);
}

/* Section/Map CSS */
section {
    margin: 0;
    padding: 0;
    font-size: 30px;
    width: 100%;
    padding-top: 4rem;
    height: 100%;
}

h1 {
    font-size: 200px;
    color: white;
    text-align: center;
    font-weight: 900;
}    

/* Map CSS */
.mapouter{
    position:relative;
    text-align:right;
    height:500px;
    width:600px;
    margin-right: auto;
    margin-left: auto;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 500px;
    width: 600px;
}


.btn {
    padding: 0.75rem 1.5rem;
    font-size: 20px;
    text-transform: capitalize;
}

.content {
    display: flex;
    justify-content: space-around;
}

.content .contact-info {
    width: 100%;
}

.content .input-group {
    display: flex;
    flex-direction: column;
}

.content .map {
    display: flex;
    width: 100%;
    justify-content: center;
}