/* RESET CSS */
* {
  margin: 0;
  padding: 0;
  }
  
  /* BODY CSS */
  body {
  font-family: Fredoka;
  font-size: 15px;
  line-height: 2;
  padding: 0;
  margin: 0;
  background-color: beige;
  }
  
  
  /* GLOBAL CSS FOR INDEX */
  header .container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  overflow: hidden;
  height: 100%;
  }
  
  ul {
  margin: 0;
  padding: 0;
  }
  
  /* HEADER CSS */
  header {
  background: rgb(34, 34, 34);
  padding-right: 2rem;
  padding-left: 2rem;
  height: 90px;
  }
  
  /* #header section CSS */
  header #headersection {
  float: left;
  display: flex;
  justify-content: center;
  }
  
  header li {
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
  }
  
  header #headersection span {
      display: flex;
      align-items: center;
  }
  
  header #headersection a {
  color: floralwhite;
  font-size: 40px;
  letter-spacing: 10px;
  margin-left: 8px;
  }
  
  /* NAV CSS */
  header nav {
      display: flex;
      align-items: center;
  }
  
  header a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  }
  
  header nav button {
  width: 150px;
  text-align: center;
  }
  
  header nav a:hover {
  color: rgb(221, 32, 32);
  font-weight: bold;
  transition: all .5s ease-in;
  }
  
  header nav a:focus {
  color: rgb(221, 32, 32);
  }



.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}

.selection {
  color: white;
  background-color: #bfbfa4;
  padding: 1rem 2rem;
  border-radius: 1rem;
}

.selection h1 {
  font-weight: 100;
  font-size: 48px;
  border-bottom: 1px solid white;
}

.selection .input-group {
  display: flex;
  flex-direction: column;
}

.selection .input-group label {
  font-size: 32px;
}

.selection #results {
  margin-top: 2rem;
  font-size: 24px;
}